.color-title{
  font-weight: normal;
}
#red{
 color: red;
}
img{
  width: 200px;
  height: 200px;
}
#orange{
  color: orange;
}
#green{
  color: green;
}
#yellow{
color: yellow;
}
#blue{
  color: blue;
}         